extends ../layout

block content
	if polls.length === 0
		.show-poll-area
			h1.no-polls= 'Your polls will be displayed here. Please create your first poll'
	else
		- let total_votes = 0;
		each poll in polls
			.show-poll-area
				a(href=`/poll/${poll._id}`).show-poll
					div
						h1= poll.title
					div
						h6 Number of answers: #{poll.answers.length}
						each answer in poll.answers
							- total_votes += answer.votes
						h6 Total of votes: #{total_votes}
